<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="wheel_left_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <!-- mu>100000.0</mu -->
    <!-- mu2>100000.0</mu2 -->
    <visual>
      <material>
        <ambient>0.8 0 0 1</ambient>
        <diffuse>0.8 0 0 1</diffuse>
        <specular>0.8 0 0 1</specular>
      </material>
    </visual>

    <!-- fdir1>0 0 0</fdir1 -->
    <!-- kp>1e+5</kp -->
    <!-- kd>1</kd -->
    <!-- min_depth>0.001</min_depth -->
    <!-- max_vel>0.01</max_vel -->

    <!-- Turtlebot3 SDF -->
    <!-- slip1>0.0</slip1 -->
    <!-- slip2>0.0</slip2 -->
    <!-- soft_cfm>0</soft_cfm -->
    <!-- soft_erp>0.2</soft_erp -->
  </gazebo>

  <gazebo reference="wheel_right_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <visual>
      <material>
        <ambient>0.8 0 0 1</ambient>
        <diffuse>0.8 0 0 1</diffuse>
        <specular>0.8 0 0 1</specular>
      </material>
    </visual>
  </gazebo>

  <gazebo reference="caster_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <visual>
      <material>
        <ambient>1 1 1 1</ambient>
        <diffuse>1 1 1 1</diffuse>
        <specular>1 1 1 1</specular>
      </material>
    </visual>
  </gazebo>

  <gazebo reference="head_link">
    <visual>
      <material>
        <ambient>0.8 0 0 1</ambient>
        <diffuse>0.8 0 0 1</diffuse>
        <specular>0.8 0 0 1</specular>
      </material>
    </visual>
  </gazebo>

  <gazebo reference="base_link">
    <visual>
      <material>
        <ambient>1 1 1 1</ambient>
        <diffuse>1 1 1 1</diffuse>
        <specular>1 1 1 1</specular>
      </material>
    </visual>
  </gazebo>

  <gazebo reference="base_scan">
    <visual>
      <material>
        <ambient>0 0 0 1</ambient>
        <diffuse>0 0 0 1</diffuse>
        <specular>0 0 0 1</specular>
      </material>
    </visual>
  </gazebo>

</robot>
